# Ignore compiled object files
*.o

# Ignore compiled executables
*.out

# Ignore a directory named 'build'
/build/

# Ignore a file named 'config.ini'
config.ini

# Ignore all files with a .log extension
*.log